<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>𝗟𝘂𝗻𝗮𝗦𝗲𝗿𝘃𝗲𝗿ᴾᴿᴼ dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.png" />
    <!-- arc.io-->
    <script async src="https://arc.io/widget.min.js#<% settings.afk.arc_id %>"></script>
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="/dashboard"><img src="assets/images/logo.svg" alt="logo" /></a>
          <a class="sidebar-brand brand-logo-mini" href="/dashboard"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <ul class="nav">
          <li class="nav-item nav-category">
            <span class="nav-link">You have <%= data.dbinfo.coins %> coin<%= data.dbinfo.coins == 1 ? "" : "s" %></span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/dashboard">
              <span class="menu-icon">
                <i class="mdi mdi-bank"></i>
              </span>
              <span class="menu-title">หน้าหลัก</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/deploy">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
              <span class="menu-title">สร้างเซิร์ฟเวอร์</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="#">
              <span class="menu-icon">
                <i class="mdi mdi-file-document-box"></i>
              </span>
              <span class="menu-title" data-bs-toggle="modal" data-bs-target="#modal-default">ข้อมูลเข้าสู่ระบบ</span>
            </a>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">เพิ่มทรัพยากร</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/afk">
              <span class="menu-icon">
                <i class="mdi mdi-cast-connected"></i>
              </span>
              <span class="menu-title">AFK เหรียญ</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="#">
              <span class="menu-icon">
                <i class="mdi mdi-dice-6"></i>
              </span>
              <span class="menu-title" data-bs-toggle="modal" data-bs-target="#modal-redeem">แลกคูปอง</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/store">
              <span class="menu-icon">
                <i class="mdi mdi-credit-card"></i>
              </span>
              <span class="menu-title">ซื้อทรัพยากรเพิ่มเติม</span>
            </a>
          </li>
          <% if (data.panelinfo.root_admin) { %>
            <li class="nav-item nav-category">
             <span class="nav-link">ผู้ดูแลระบบ</span>
           </li>
           <li class="nav-item menu-items">
             <a class="nav-link" href="/admin">
               <span class="menu-icon">
                 <i class="mdi mdi-cast-connected"></i>
               </span>
               <span class="menu-title"แผงจัดการสำหรับผู้ดูแลระบบ</span>
             </a>
           </li>
           <% } %>
        </ul>
      </nav>
        <!-- Modal Content -->
  <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title">ข้อมูลรับรองแผงของคุณ</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="ปิด"></button>
            </div>
            <div class="modal-body">
              <p><b>ชื่อผู้ใช้:</b> <%= data.panelinfo.username %></p>
              <p><b>อีเมล:</b> <%= data.panelinfo.email %></p>
              <p><b>แผงควบคุม:</b> <a href="<%= settings.pterodactyl.domain %>">คลิกที่นี่</a></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light btn-fw" data-bs-dismiss="modal">ปิด</button>
              <form action="/accounts/regenerate_password" method="POST">
                <input type="submit" class="btn btn-primary btn-fw" value="Regenerate Password">
              </form>
          </div>
        </div>
    </div>
</div>
<!-- End of Modal Content -->

<!-- Modal Content -->
<div class="modal fade" id="modal-redeem" tabindex="-1" role="dialog" aria-labelledby="modal-redeem" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h2 class="h6 modal-title">แลกคูปอง</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="ปิด"></button>
          </div>
          <form action="/earn/redeem_coupon" method="POST">
          <div class="modal-body">
             <!-- Form -->
             <div class="mb-3">
              <div class="input-group">
                  <input type="text" class="form-control" id="code" name="code" placeholder="Enter your Coupon Code here" aria-label="ใส่รหัสคูปองของคุณที่นี่">
                  <span class="input-group-text" id="basic-addon2">
                    <i class="mdi mdi-gift"></i>
                  </span>
              </div>
          </div>
          <!-- End of Form -->
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-light btn-fw" data-bs-dismiss="modal">ปิด</button>
              <input type="submit" class="btn btn-primary btn-fw" value="Redeem Code">
            </form>
          </div>
      </div>
  </div>
</div>
<!-- End of Modal Content -->

      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="/dashboard"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav navbar-nav-right">
             
              
              <li class="nav-item dropdown border-left">
                <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
                  <i class="mdi mdi-bell"></i>
                  <span class="count bg-danger"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                  <h6 class="p-3 mb-0">Notifications</h6>
                  <div class="dropdown-divider"></div>
                   <!--
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-calendar text-success"></i>
                      </div>
                    </div>
                   <div class="preview-item-content">
                      <p class="preview-subject mb-1">กิจกรรมวันนี้</p>
                      <p class="text-muted ellipsis mb-0"> แค่เตือนว่าวันนี้มีงาน</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-settings text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">การตั่งค่า</p>
                      <p class="text-muted ellipsis mb-0">อัพเดทแดชบอร์ด</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-link-variant text-warning"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">เปิดตัวผู้ดูแลระบบ</p>
                      <p class="text-muted ellipsis mb-0">แอดมินใหม่ ว้าว!</p>
                    </div>
                  </a> -->
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center">ดูการแจ้งเตือนทั้งหมด</p>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-bs-toggle="dropdown">
                  <div class="navbar-profile">
                    <img class="img-xs rounded-circle" src="<%= ('https://cdn.discordapp.com/avatars/'+ data.userinfo.id +'/'+ data.userinfo.avatar +'.jpeg') %>" alt="">
                    <p class="mb-0 d-none d-sm-block navbar-profile-name"><%= data.userinfo.username %>#<%= data.userinfo.discriminator %></p>
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                  <h6 class="p-3 mb-0">โปรไฟล์/h6>
                  <div class="dropdown-divider"></div>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-logout text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1" href="/accounts/logout">ออกจากระบบ</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                </div>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card corona-gradient-card">
                  <div class="card-body py-0 px-0 px-sm-3">
                    <div class="row align-items-center">
                      <div class="col-4 col-sm-3 col-xl-2">
                        <img src="assets/images/dashboard/Group126@2x.png" class="gradient-corona-img img-fluid" alt="">
                      </div>
                      <div class="col-5 col-sm-7 col-xl-8 p-0">
                        <h4 class="mb-1 mb-sm-0">ต้องการคุณสมบัติเพิ่มเติมหรือไม่?</h4>
                        <p class="mb-0 font-weight-normal d-none d-sm-block">เข้าร่วมเซิร์ฟเวอร์ Discord ของฉัน!</p>
                      </div>
                      <div class="col-3 col-sm-2 col-xl-2 ps-0 text-center">
                        <span>
                          <a href="https://discord.gg/9uaCXkVP43" target="_blank" class="btn btn-outline-light btn-rounded get-started-btn">เข้าร่วมทันที</a>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <% if (variables) { %>
                <% if (variables.error && status_replies.error[variables.error]) { %>
                  <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">อ๊ะ!</h4>
                    <p><%- eval(`\`${status_replies.error[variables.error]}\``) %></p>
                    </div>
                 <% } else if (variables.success && status_replies.success[variables.success]) { %>
                  <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">ทำได้ดี!</h4>
                    <p><%- eval(`\`${status_replies.success[variables.success]}\``) %></p>
                    </div>
                    <% } else { %>
                      <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">ทำได้ดี!!</h4>
                        <p><%= JSON.stringify(variables) %></p>
                        </div>
                <% } %>
            <% } %>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">หน่วยความจำ</h3>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal"><%= current.memory %>MB / <%= total.memory %>MB</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">ดิสก์</h3>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal"><%= current.disk %>MB / <%= total.disk %>MB</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">ซีพียู</h3>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal"><%= current.cpu %> / <%= total.cpu %>%</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">แพ็กเกจ</h3>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal"><%= package.display %></h6>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h3><center><b>สร้างเซิฟเวอร์ใหม่</b></center></h3>
                  <hr>
                  <p><b><center>โหนดฟรีต้องการให้คุณจ่าย <%= settings.renewal.renew_fee %> เหรียญเพื่อสร้างเซิร์ฟเวอร์ และกำหนดให้คุณต้องต่ออายุเซิร์ฟเวอร์ทุก 2 สัปดาห์</center></b></p>
                   <hr>
                  <form action="/servers/create" method="POST" class="create_server">
                    <div class="form-group">
                      <label for="name">ชื่อเซิร์ฟเวอร์</label>
                      <input type="text" class="form-control" name="name" placeholder="NObody loves me:( wanna be friends? - Acktar">
                    </div>
                    <div class="form-group">
                      <label for="memory">รามจัดสรร</label>
                      <input type="text" class="form-control"name="memory" placeholder="<%= total.memory - current.memory %> mb left" aria-label="<%= total.memory - current.memory %>">
                    </div>
                    <div class="form-group">
                      <label for="disk">จัดสรรดิสก์แล้ว</label>
                      <input type="text" class="form-control" name="disk" placeholder="<%= total.disk - current.disk %> mb left" aria-label="<%= total.disk - current.disk %>">
                    </div>
                    <div class="form-group">
                      <label for="cpu">จัดสรร CPU</label>
                      <input type="text" class="form-control" name="cpu" placeholder="<%= total.cpu - current.cpu %> % left" aria-label="<%= total.cpu - current.cpu %>">
                    </div>
                    <div class="form-group">
                      <label for="location">ตำแหน่งเซิร์ฟเวอร์</label>
                      <select class="form-control"  id="location" name="location" aria-label="location">
                        <% for (let [name, value] of Object.entries(settings.locations).filter(loc => loc[1].enabled && (loc[1].package ? loc[1].package.includes(package.id) : true))) { %>
                          <option value="<%= name %>"><%= value.name %></option>
                          <% } %>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="egg">เครื่องยนต์เซิร์ฟเวอร์</label>
                      <select class="form-control"  id="egg" name="egg" aria-label="egg">
                        <% for (let [name, value] of Object.entries(settings.eggs)) { %>
                          <option value="<%= name %>"><%= value.display %></option>
                          <% } %>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-primary me-2" onclick="this.disabled = true">ดำเนินการต่อ</button>
                    <button class="btn btn-dark">ยกเลิก</button>
                  </form>
                </div>
              </div>
            </div>

          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2022 By 𝗟𝘂𝗻𝗮𝗦𝗲𝗿𝘃𝗲𝗿ᴾᴿᴼ </span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="assets/vendors/chart.js/Chart.min.js"></script>
    <script src="assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.cookie.js" type="text/javascript"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="assets/js/off-canvas.js"></script>
    <script src="assets/js/hoverable-collapse.js"></script>
    <script src="assets/js/misc.js"></script>
    <script src="assets/js/settings.js"></script>
    <script src="assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>
